<div class="bootstrap-wrapper">
    <div class="container-fluid mt20 text-center">
        <!-- <div class="row"> -->
            <mat-card >
                <mat-card-title class="pt15"  >
                    <h2>Welcome to Pariksha Portal's Admin Page !!</h2>
                </mat-card-title>
                <div class="container mt10 mb10">
                    <img src="assets\online.png" style="width:290px;height:300px; margin: auto;" >
                </div>

                <h3 class="mb10">Welcome {{ user.username }}!!</h3>
                
            </mat-card>
        <!-- </div> -->
    </div>
</div>