<mat-toolbar color="primary">
  <button mat-icon-button class="icon" routerLink="">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Pariksha Portal</span>
  <span class="spacer"></span>
  <div *ngIf="!isLoggedIn">
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="signUp">Register</button>
  </div>

  <div *ngIf="isLoggedIn">
    <button (click)="logout()" mat-button routerLink="login">Logout</button>
    <button mat-button>{{ user.username }}</button>
  </div>


</mat-toolbar>
