<mat-card>
    <h2 class="text-center mt20 mb20">Add New Category</h2>
    <!-- {{category|json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Title</mat-label>
                            <input required [(ngModel)]="category.title" type="text" name="title" matInput
                                placeholder="Enter here" />
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea required [(ngModel)]="category.description" name="description" matInput
                                placeholder="Enter category description" rows="10"></textarea>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>