<mat-card>
    <mat-action-list >
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin" >
            <mat-icon matListItemIcon style="color: black;">home</mat-icon>
            Home
        </button>
        <button mat-list-item routerLink="profile">
            <mat-icon matListItemIcon style="color: black;">account_circle</mat-icon>
            Profile
        </button>
        <button mat-list-item routerLink="categories">
            <mat-icon matListItemIcon style="color: black;">category_icon</mat-icon>
            Categories
        </button>
        <button mat-list-item routerLink="add-category">
            <mat-icon matListItemIcon style="color: black;">add_circle</mat-icon>
            Add Category
        </button>
        <button mat-list-item routerLink="quizzes">
            <mat-icon matListItemIcon style="color: black;">quiz</mat-icon>
            Quizzes
        </button>
        <button mat-list-item routerLink="add-quiz">
            <mat-icon matListItemIcon style="color: black;">add</mat-icon>
            Add Quiz
        </button>
    </mat-action-list>
</mat-card>